<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="org.foxconn.bootstrapTest.dao.LabelDao">
 	<insert id="addLabel"  parameterType="org.foxconn.bootstrapTest.entity.LabelEntity">
 		INSERT INTO sfcskunolabel(parentSkuno,skuno,qty,isPreDo,label,others) values(
 		#{parentSkuno},#{skuno},#{qty},#{isPreDo},#{label},#{others} 
 		)
 	</insert>
 	
	<update  id="updateLabel"  parameterType="org.foxconn.bootstrapTest.entity.LabelEntity">
 		update sfcskunolabel set parentSkuno = #{parentSkuno},skuno=#{skuno},qty=#{qty},label=#{label},
 		others=#{others},
 		isPreDo = #{isPreDo} WHERE ID =#{id}
 	</update>
 	
 	<update  id="deleteLabel" parameterType="org.foxconn.bootstrapTest.entity.LabelEntity">
 		UPDATE  sfcskunolabel set valid = '0' WHERE ID IN  (${'\''+ids+'\''})
 	</update>
 	
 	<select id="findAll" parameterType="org.foxconn.bootstrapTest.entity.LabelEntity" resultType="org.foxconn.bootstrapTest.entity.LabelEntity">
 		SELECT 	Id,parentSkuno,skuno,qty,isPreDo,b.version,b.description ,label,others
 		FROM 	sfcskunolabel a LEFT JOIN mmprodmaster  b
 				ON	a.skuno= b.partno
 		<where>
 		 	valid = '1'
 			<if test="parentSkunos != null and parentSkunos != ''">
 				and parentSkuno  in (${'\''+parentSkunos+'\''})
 			</if>
 			<if test="skunos != null and skunos != ''">
 				and skuno  in (${'\''+skunos+'\''})
 			</if>
 			<if test="label != null and label != ''">
 				and label  in (${'\''+label+'\''})
 			</if>
 			<if test="others != null and others != ''">
 				and others  in (${'\''+others+'\''})
 			</if>
 		</where>
 		 	
 	</select>
 	
 </mapper>        
 